<!doctype html>
<html>
  <head>
    <title>Dumb Chess</title>

    <script src="jquery/dist/jquery.min.js"></script>
    <script src="socket.io-client/socket.io.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js"></script>
    <script src="jGrowl/jquery.jgrowl.min.js"></script>
    <link rel="stylesheet" type="text/css" href="jGrowl/jquery.jgrowl.min.css" />
    <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
    
    <script src="javascripts/index.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>

  <body>
    <div class="container">
      <div style="max-width:95%;margin:auto;border-radius:5px;margin-top:10px;margin-bottom:10px;background-color:#dff0d8;border:1px solid;border-color:#d6e9c6;padding-left:10px;padding-top:10px;padding-bottom:10px;color:#468847;">
          Welcome to Dumb Chess beta! Let me know if you find any bugs -- steven
      </div>
    <br><br>
    <div class="container">
      <div class="col-md-6">
        <input type="text" id="dummy-input" hidden>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Game</h3>
          </div>
          <div class="panel-body" style="text-align:center">
            <table id="game-view">
            </table>


            <p id="new-game" style="text-align:center">
            <a target="generate" href="/generate">New Game</a>
            </p>

          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">History</h3>
          </div>
          <div class="panel-body">
            <div class="scroll-table">
              <table class="table table-condensed table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>White</th>
                    <th>Black</th>
                  </tr>
                </thead>
                <tbody id="moves-list">

                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Players</h3>
          </div>
          <div class="panel-body">
            <div class="scroll-table">
              <table class="table table-condensed table-hover">
                <thead>
                  <tr>
                    <th>Color</th>
                    <th>Name</th>
                    <th>Score?</th>
                  </tr>
                </thead>
                <tbody id="players-list">

                </tbody>
              </table>
            </div>
            <form class="form-inline" autocomplete="false">
              <div class="form-group">
                <input type="text" class="form-control" id="username" placeholder="Username">
                <button type="submit" id="register" style="outline:none" class="btn btn-primary">Register!</button>
                <button type="submit" id="rename" style="outline:none" class="btn btn-primary hidden">Change Name</button>
                <button type="submit" id="logout" style="outline:none" class="btn btn-primary hidden">Logout</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>